metadata/flows/Create_Task_on_new_Opp.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Complete_Process</name>
        <label>Complete Process</label>
        <locationX>967</locationX>
        <locationY>196</locationY>
        <assignmentItems>
            <assignToReference>fieldIndex</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Initialize_field_index</name>
        <label>Initialize field index</label>
        <locationX>104</locationX>
        <locationY>61</locationY>
        <assignmentItems>
            <assignToReference>fieldIndex</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_graxopportunityindex_x_Selected_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Next_Field_Index</name>
        <label>Next Field Index</label>
        <locationX>784</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>fieldIndex</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_graxopportunityindex_x_Selected_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AccountName</name>
        <label>Set AccountName</label>
        <locationX>421</locationX>
        <locationY>479</locationY>
        <assignmentItems>
            <assignToReference>AccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fieldVal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Next_Field_Index</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Amount</name>
        <label>Set Amount</label>
        <locationX>290</locationX>
        <locationY>477</locationY>
        <assignmentItems>
            <assignToReference>Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fieldVal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Next_Field_Index</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_GRAX_Company_Name</name>
        <label>Set GRAX Company Name</label>
        <locationX>157</locationX>
        <locationY>475</locationY>
        <assignmentItems>
            <assignToReference>GRAXCompanyName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fieldVal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Next_Field_Index</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OppOwner</name>
        <label>Set OppOwner</label>
        <locationX>545</locationX>
        <locationY>480</locationY>
        <assignmentItems>
            <assignToReference>OppOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fieldVal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Next_Field_Index</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetOppName</name>
        <label>SetOppName</label>
        <locationX>676</locationX>
        <locationY>480</locationY>
        <assignmentItems>
            <assignToReference>OppName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fieldVal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Next_Field_Index</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Found</name>
        <label>Account Found?</label>
        <locationX>782</locationX>
        <locationY>114</locationY>
        <defaultConnector>
            <targetReference>Create_Task_on_Related_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Process</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Field_Index_Value</name>
        <label>Check Field Index Value</label>
        <locationX>315</locationX>
        <locationY>303</locationY>
        <defaultConnector>
            <targetReference>Next_Field_Index</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>i_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fieldIndex</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_GRAX_Company_Name</targetReference>
            </connector>
            <label>i = 1</label>
        </rules>
        <rules>
            <name>i_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fieldIndex</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Amount</targetReference>
            </connector>
            <label>i = 2</label>
        </rules>
        <rules>
            <name>i_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fieldIndex</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AccountName</targetReference>
            </connector>
            <label>i = 3</label>
        </rules>
        <rules>
            <name>i_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fieldIndex</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_OppOwner</targetReference>
            </connector>
            <label>i = 4</label>
        </rules>
        <rules>
            <name>i_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fieldIndex</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetOppName</targetReference>
            </connector>
            <label>i = 5</label>
        </rules>
    </decisions>
    <formulas>
        <name>taskDescription</name>
        <dataType>String</dataType>
        <expression>&quot;An Opportunity had been created in the SF environment &quot; + {!GRAXCompanyName} + &quot; for the Amount of $&quot; + {!Amount} + &quot;. Please follow up with &quot; + {!OppOwner}+&quot; for additional cross-selling on the Opportunity &apos;&quot;+ {!OppName} +&quot;&apos;.&quot;</expression>
    </formulas>
    <interviewLabel>Create Task on new Opp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Task on new Opp</label>
    <loops>
        <name>Loop_through_graxopportunityindex_x_Selected_Fields</name>
        <label>Loop through graxopportunityindex__x Selected Fields</label>
        <locationX>319</locationX>
        <locationY>185</locationY>
        <assignNextValueToReference>fieldVal</assignNextValueToReference>
        <collectionReference>opp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Field_Index_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Find_Account_By_Name</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task_on_Related_Account</name>
        <label>Create Task on Related Account</label>
        <locationX>956</locationX>
        <locationY>31</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>taskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Opportunity Created in Subsidiary Environment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Account_By_Name</name>
        <label>Find Account By Name</label>
        <locationX>609</locationX>
        <locationY>109</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Found</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountName</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>accountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Initialize_field_index</startElementReference>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Amount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fieldIndex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>fieldVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GRAXCompanyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GRAXOppOwner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>graxopportunityindex__x</objectType>
    </variables>
    <variables>
        <name>opp</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
