metadata/flows/Test_Update_Account_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Element_to_list</name>
        <label>Add Element to list</label>
        <locationX>629</locationX>
        <locationY>325</locationY>
        <assignmentItems>
            <assignToReference>recs2Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>acc2Up</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Description</name>
        <label>Update Description</label>
        <locationX>308</locationX>
        <locationY>294</locationY>
        <assignmentItems>
            <assignToReference>acc2Up.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&quot;Flow Success 2&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>acc2Up.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Element_to_list</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Test Update Account Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test Update Account Flow</label>
    <loops>
        <name>Update_Accounts</name>
        <label>Update Accounts</label>
        <locationX>106</locationX>
        <locationY>43</locationY>
        <assignNextValueToReference>recId</assignNextValueToReference>
        <collectionReference>recordIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Description</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Records</name>
        <label>Update Records</label>
        <locationX>593</locationX>
        <locationY>136</locationY>
        <inputReference>recs2Update</inputReference>
    </recordUpdates>
    <startElementReference>Update_Accounts</startElementReference>
    <status>Active</status>
    <variables>
        <name>acc2Up</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recs2Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
